*{
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:"Avenir", "PingFangTC","Microsoft JhengHei";
	font-weight: 300;
}
*:focus{
	outline: none;
}
ol, ul {
	list-style: none;
	margin: 0;
}
img{
	width: 100%;
}
a, a:focus, a:hover{
	text-decoration: none;
}
a:link, a:visited, a:hover{
    color: #2f3031;
}

h1{
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: "PingFangTC-Regular";
	color: #4e5156;
	margin: 0;
	cursor: default;
}
h2{
	font-size: 32px;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: "PingFangTC-Light";
	color: #2e2f31;
	margin: 0;
	cursor: default;
}
h3{
	font-size: 26px;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: "PingFangTC-Regular";
	color: #2e2f31;
	margin: 0;
	cursor: default;
}
h4{
	font-size: 18px;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: "PingFangTC-Regular";
	color: #4d5156;
	margin: 0;
	cursor: default;
}
h5{
	font-size: 16px;
	text-align: center;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: "PingFangTC-Regular";
	color: #2e2f31;
	margin: 0;
	cursor: default;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b6b6b8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b6b6b8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b6b6b8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b6b6b8;
}
.inline{
	display: inline-block;
}
.currency:before{
	content: "NT$";
	display: inline-block;
	padding-right: 10px;
}
.small-btn{
	background: none;
	border: 1pt solid #6b6f77;
	padding: 10px 20px;
	display: block;
	font-size: 16px;
	transition: all .5s;
}
@media screen and (min-width: 992px){
	.small-btn:hover{
		background-color: #bfc1c5;
		border: 1pt solid #bfc1c5;
		color: #fff;
	}
}
.input input{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header{
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: all .3s;
	background-color: #fff;
}
body[home] header{
	background: none;
}
body[home] header.scroll{
	background-color: #fff;
}
header:after, body[home] header.scroll:after{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #e9e9e9;
	position: absolute;
	bottom: 0;
	left: 0;
}
body[home] header:after{
	height: 0;
}
@media screen and (max-width: 767px){
	header{
		height: 55px;
	}
}
header div.logo{
	margin: 33px 76px 0 57px;
	display: inline-block;
	float: left;
	-webkit-filter: invert(0);
 	filter: invert(0);
}
body[home] header div.logo{
	-webkit-filter: invert(1);
 	filter: invert(1);
}
body[home] header.scroll div.logo{
	-webkit-filter: invert(0);
 	filter: invert(0);
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	header div.logo{
		margin: 24px 40px 0 30px;
	}
}
@media screen and (max-width: 767px){
	header div.logo{
		margin: 13px 0 0 17px ;
	}
}
header div.logo img{
	width: 136px;
}

header>ul{
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
}
header ul.menu{
	float: left;
}
@media screen and (max-width: 767px){
	header ul.menu{
		width: 80%;
		height: 59px;
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #fff;
	}
}
header ul.menu>li{
	font-size: 16px;
	color: #2f3031;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
    height: 100%;
    padding: 0 25px;
    position: relative;
    letter-spacing: 1px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	header ul.menu>li{
		padding: 0 15px;
	}
}
@media screen and (max-width: 767px){
	header ul.menu>li{
		font-size: 9px;
		-webkit-align-items: flex-end;
    	align-items: flex-end;
    	justify-content: center;
    	width: 25%;
    	padding: 0 0 7px 0;
    	position: relative;
    	color: #2f3031;
	}
	header ul.menu>li:nth-child(2){
		left: 25%;
	}
	header ul.menu>li:nth-child(3){
		left: -25%;
	}
	header ul.menu>li:first-child:after{
		content: "";
		width: 25px;
		height: 25px;
		background-image: url('../images/menu_icons.svg');
		background-repeat: no-repeat;
		background-position: -3px 0;
		-webkit-background-size: 150px;
		background-size: 150px;
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	header ul.menu>li:nth-child(2):after{
		content: "";
		width: 25px;
		height: 25px;
		background-image: url('../images/menu_icons.svg');
		background-repeat: no-repeat;
		background-position: -63px 0;
		-webkit-background-size: 150px;
		background-size: 150px;
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	header ul.menu>li:nth-child(3):after{
		content: "";
		width: 25px;
		height: 25px;
		background-image: url('../images/menu_icons.svg');
		background-repeat: no-repeat;
		background-position: -33px 0;
		-webkit-background-size: 150px;
		background-size: 150px;
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	header ul.menu>li:nth-child(4):after{
		content: "";
		width: 25px;
		height: 25px;
		background-image: url('../images/menu_icons.svg');
		background-repeat: no-repeat;
		background-position: -93px 0;
		-webkit-background-size: 150px;
		background-size: 150px;
		position: absolute;
		bottom: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
body[home] header ul.menu>li{
	color: #fff;
}
body[home] header ul.menu>li a{
	color: #fff;
}
body[home] header.scroll ul.menu>li{
	color: #2f3031;
}
body[home] header.scroll ul.menu>li a{
	color: #2f3031;
}
@media screen and (max-width: 767px){
	body[home] header ul.menu>li{
		color: #2f3031;
	}
	body[home] header ul.menu>li a{
		color: #2f3031;
	}
}
@media screen and (min-width: 769px){
	header ul.menu>li:hover:after{
		content: "";
		width: 100%;
		height: 5px;
		background-color: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
header ul.menu li ul{
	display: none;
}
@media screen and (min-width: 769px){
	header ul.menu li:hover ul{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}
header ul.menu li ul.product-menu{
	width: 100%;
	height: 409px;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 90px;
	box-shadow: -3px 7px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-align-items: center;
    align-items: center;
}

header ul.menu li ul.product-menu li{
	width: 20%;
	text-align: center;
	color: #2f3031;
}
header ul.menu li ul.product-menu li div.series-color{
	width: 49px;
	height: 49px;
	border-radius: 50%;
	display: inline-block;
}
header ul.menu li ul.product-menu li div:nth-child(2){
	display: block;
	width: 160px;
	margin: 0 auto;
}
header ul.menu li ul.product-menu li h5{
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 34px;
	margin: 14px 0;
	color: #4e5156;
}
header ul.menu li ul.aboutus-menu{
	width: 100%;
	height: 404px;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 90px;
	box-shadow: -3px 7px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-align-items: center;
    align-items: center;
}
header ul.menu li ul.aboutus-menu li{
	width: 33%;
	text-align: center;
	color: #2f3031;
}
header ul.menu li ul.aboutus-menu li div img{
	width: 80%;
	max-width: 296px;
}
header ul.menu li ul.aboutus-menu li h5{
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 34px;
	margin: 14px 0;
	color: #4e5156;
}
header ul.side-menu{
	float: right;
	color: #2f3031;
}
header ul.side-menu>li{
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	header ul.side-menu{
		margin-right: 30px;
	}
}
@media screen and (max-width: 767px){
	header ul.side-menu{
		margin-right: 30px;
	}
}
body[home] header ul.side-menu{
	color: #fff;
}
body[home] header.scroll ul.side-menu{
	color: #2f3031;
}
header ul.side-menu li.search-btn{
	cursor: pointer;
}
header ul.side-menu li.search-btn div.icon{
	width: 20px;
	height: 22px;
	background-image: url('../images/sidemenu _icons.svg');
	background-position: -12px 0;
	background-repeat: no-repeat;
	-webkit-background-size: 220px 22px;
	background-size: 220px 22px;
	color: rgba(0, 0, 0, 0);
	text-indent: 500px;
}
body[home] header ul.side-menu li.search-btn div.icon{
	background-position: -56px 0;
}
body[home] header.scroll ul.side-menu li.search-btn div.icon{
	background-position: -12px 0;
}
header ul.side-menu>li.shopping-bag{
	position: relative;
}
@media screen and (min-width: 768px){
	header ul.side-menu>li+li{
		margin-left: 54px;
	}
	header ul.side-menu>li.shopping-bag{
		margin-left: 64px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	header ul.side-menu>li+li{
		margin-left: 30px;
	}
	header ul.side-menu>li.shopping-bag{
		margin-left: 35px;
	}
}

@media screen and (max-width: 767px){
	header ul.side-menu>li.shopping-bag{
		margin-left: 38px;
	}
}
header ul.side-menu li.shopping-bag div.icon{
	width: 20px;
	height: 22px;
	background-image: url('../images/sidemenu _icons.svg');
	background-position: -34px 0;
	background-repeat: no-repeat;
	-webkit-background-size: 220px 22px;
	background-size: 220px 22px;
	color: rgba(0, 0, 0, 0);
	text-indent: 500px;
}
body[home] header ul.side-menu li.shopping-bag div.icon{
	background-position: -78px 0;
}
body[home] header.scroll ul.side-menu li.shopping-bag div.icon{
	background-position: -34px 0;
}
header ul.side-menu li.shopping-bag span.quantity{
	display: block;
	position: absolute;
	right: -50%;
	top: 30%;
	background-color: #6b6f76;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-family: HelveticaNeue;
	border: solid 1.5pt #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 767px){
	header ul.side-menu li.shopping-bag span.quantity{
		right: -50%;
		top: 15%;
	}
}
body[home] header ul.side-menu li.shopping-bag span.quantity{
	border: solid 1.5pt transparent;
	background-color: #fff;
	color: #6b6f76;
}
body[home] header.scroll ul.side-menu li.shopping-bag span.quantity{
	border: solid 1.5pt #fff;
	background-color: #6b6f76;
	color: #fff;
}
header ul.side-menu li.login a:link,header ul.side-menu li.login a:visited, header ul.side-menu li.login a:hover{
	color: #2f3031;
	letter-spacing: 1px;
}
body[home] header ul.side-menu li.login a:link,body[home] header ul.side-menu li.login a:visited, body[home] header ul.side-menu li.login a:hover{
	color: #fff;
}
body[home] header.scroll ul.side-menu li.login a:link,body[home] header.scroll ul.side-menu li.login a:visited, body[home] header.scroll ul.side-menu li.login a:hover{
	color: #2f3031;
}
@media screen and (max-width: 767px){
	body[home] header ul.side-menu li.login a:link,body[home] header ul.side-menu li.login a:visited, body[home] header ul.side-menu li.login a:hover{
		color: #2f3031;
	}
}
header ul.side-menu li.member{
	display: none;
}
header ul.side-menu li.member img{
	border-radius: 50%;
	width: 43px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	header ul.side-menu li.member img{
		width: 30px;
	}
}
header ul.side-menu li.member ul{
	position: fixed;
	right: 0;
	top: 90px;
	width: 251px;
	background-color: #fff;
	color: #2f3031;
	display: none;
	box-shadow: -8px 7px 17px 0 rgba(0, 0, 0, 0.12);
}
header ul.side-menu li.member ul h4{
	font-weight: 500;
	font-size: 16px;
	margin: 36px 0 14px 50px;
	text-align: left;
}
header ul.side-menu li.member ul li{
	font-size: 14px;
	color: #9fa2a8;
	margin: 0 0 14px 50px;
}
header ul.side-menu li.member ul li a:link, header ul.side-menu li.member ul li a:visited, header ul.side-menu li.member ul li a:hover{
	color: #9fa2a8;
}
header ul.side-menu li.member ul button.log-out{
	display: block;
	width: 100%;
	height: 62px;
	line-height: 62px;
	margin-top: 58px;
	padding: 0 0 0 50px;
	border-top: 1pt solid #e9e9e9;
	color: #2f3031;
	font-size: 16px;
	background: none;
	text-align: left;
}
header ul.side-menu li.member ul button.log-out a:link,header ul.side-menu li.member ul button.log-out a:visited{
	color: #2f3031;
}
@media screen and (min-width: 769px){
	header ul.side-menu li.member:hover ul{
		display: block;
	}
}
@media screen and (max-width: 767px){
	header ul.side-menu li.login{
		width: 20%;
		height: 59px;
		font-size: 9px;
		position: fixed;
		bottom: 0;
		right: 0;
		background-color: #fff;
		display: flex;
		-webkit-align-items: flex-end;
	    align-items: flex-end;
	    justify-content: center;
	    padding-bottom: 7px;
	}
	header ul.side-menu li.login:after{
		content: "";
		width: 25px;
		height: 25px;
		background-image: url('../images/menu_icons.svg');
		background-repeat: no-repeat;
		background-position: -123px 0;
		-webkit-background-size: 150px;
		background-size: 150px;
		position: absolute;
		bottom: 27px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	header ul.side-menu li.member{
		width: 20%;
		height: 59px;
		position: fixed;
		bottom: 0;
		right: 0;
		background-color: #fff;
		text-align: center;
		align-items: flex-start;
	}
	header ul.side-menu li.member:after{
		content: "會員中心";
		font-size: 9px;
		position: absolute;
		bottom: 7px;
		width: 36px;
		left: 0;
		right: 0;
		margin: 0 auto;
		color: #2f3031;
	}
	header ul.side-menu li.member img{
		width: 24px;
		display: inline-block;
		margin-top: 10px;
	}
}
header.login ul.side-menu li.login{
	display: none;
}
header.login ul.side-menu li.member{
	display: flex;
}
header ul.side-menu>li.login, header.login ul.side-menu li.member{
	padding-right: 48px;
}
@media screen and (max-width: 1024px){
	header ul.side-menu>li.login, header.login ul.side-menu li.member{
		padding-right: 0;
	}
}
header div.search-area{
	width: 100%;
	min-height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 99999;
	visibility: hidden;
	padding: 30px 40px 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
	header div.search-area{
		min-height: 180px;
		padding: 110px 40px 0 40px;
	}
}
@media screen and (max-width: 767px){
	header div.search-area{
		height: 100%;
	}
}
header div.search-area.active{
	visibility: visible;
}
header div.search-area div.logo{
	margin: 3px 0 0 17px;
	display: inline-block;
	float: left;
	-webkit-filter: invert(0);
 	filter: invert(0);
}
@media screen and (min-width: 768px) and (max-width: 992px){
	header div.search-area div.logo{
		margin: -77px 0 0 17px;
	}
}
@media screen and (max-width: 767px){
	header div.search-area div.logo{
		margin: -17px 0 0 -23px ;
	}
}
header div.search-area div.search-form{
	width: 470px;
	margin: 0 auto;
	position: relative;
}
@media screen and (max-width: 767px){
	header div.search-area div.search-form{
		position: absolute;
		width: 100%;
		height: 35px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		padding: 0 40px;	
	}
}
header div.search-area div.search-form input#searchInput{
	width: 100%;
	height: auto;
	border-radius: 0;
	background: #fff;
    border-bottom: 1px solid #bababa;
    letter-spacing: .12em;
    font-size: 16px;
    padding: 5px 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
header div.search-area div.search-form button[type="submit"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    color: #fff;
    display: block;
    letter-spacing: normal;
    padding: 0;
    cursor: inherit;
	background-image: url('../images/sidemenu _icons.svg');
	-webkit-background-size: 220px 22px;
	background-size: 220px 22px;
    background-repeat: no-repeat;
    background-position: -12px -1px;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    opacity: .5;
    cursor: pointer;
    text-indent: -9999px;
}
@media screen and (min-width: 769px){
	header div.search-area div.search-form button[type="submit"]:hover{
		opacity: 1;
	}
}
@media screen and (max-width: 767px){
	header div.search-area div.search-form button[type="submit"]{
		right: 40px;
	}
}
header div.search-area button.search-close{
	width: 18px;
	height: 18px;
	background: none;
	margin: 36px;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
}
@media screen and (max-width: 767px){
	header div.search-area button.search-close{
		margin: 15px;
	}
}
header div.search-area button.search-close:after{
	content: "";
	width: 21px;
	height: 1pt;
	background-color: #000;
	position: absolute;
	top: 9px;
	right: 0;
	transform: rotate(45deg);
}
header div.search-area button.search-close:before{
	content: "";
	width: 21px;
	height: 1pt;
	background-color: #000;
	position: absolute;
	bottom: 8px;
	right: 0;
	transform: rotate(-45deg);
}
footer{
	height: 173px;
	padding-top: 40px;
	position: relative;
	border-top: 1px solid #e9e9e9;
	background-color: #babdc3;
}
body[home] footer{
	background-color: #fff;
}
@media screen and (min-width: 1200px){
	footer{
		height: 114px;
	}
}
@media screen and (max-width: 767px){
	footer{
		height: auto;
		margin-bottom: 59px;
		padding-top: 10px;
	}
}
footer ul{
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@media screen and (max-width: 767px){
	footer ul{
		height: auto;
	}
}
footer ul.menu{
	float: left;
}
@media screen and (max-width: 767px){
	footer ul.menu{
		float: none;
		flex-direction: column;
	}
}
footer ul.menu li{
	font-size: 14px;
	color: #fff;
	margin-left: 64px;
}
footer ul.menu li a{
	color: #fff;
}
body[home] footer ul.menu li{
	color: #4e5156;
}
body[home] footer ul.menu li a{
	color: #4e5156;
}
@media screen and (max-width: 767px){
	footer ul.menu li{
		margin: 20px 21px;
		font-size: 16px;
	}
}
@media screen and (min-width: 768px){
	footer ul.menu li+li{
		margin-left: 68px;
	}
}
footer ul.side-menu{
	float: right;
	margin-right: 48px;
	height: auto;
}
@media screen and (min-width: 1200px){
	footer ul.side-menu{
		float: none;
		position: absolute;
		width: 91px;
		right: 0;
		left: 0;
		margin:0 auto;
	}
}
@media screen and (max-width: 767px){
	footer ul.side-menu{
		float: none;
		position: absolute;
		right: 30px;
		top: 30px;
		margin-right: 0;
	}
}
footer ul.side-menu li a{
	color: #fff;
}
body[home] footer ul.side-menu li a{
	color: #4e5156;
}
footer ul.side-menu li+li{
	margin-left: 77px;
}
footer ul.side-menu li:nth-child(2){
	margin-left: 64px;
	position: relative;
}
@media screen and (max-width: 767px){
	footer ul.side-menu li:nth-child(2){
		margin-left: 38px;
	}
}
footer span.copyright{
	font-size: 12px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 25px;
	left: 0;
	text-align: center;
	color: #fff;
}
body[home] footer span.copyright{
	color: #9fa2a8;
}
@media screen and (min-width: 1200px){
	footer span.copyright{
		text-align: right;
		padding-right: 30px;
	}
}
@media screen and (max-width: 767px){
	footer span.copyright{
		display: none;
	}
}
