body[checkout] section.content ul.items .bag_item {
  width: 100%;
  min-height: 130px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 20px 0;
}
body[checkout] section.content ul.items:nth-of-type(1) > li:last-child {
  margin-bottom: 95px;
}
body[checkout] section.content ul.items .bag_item div.product-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding: 25px 0;
}
body[checkout] section.content ul.items .bag_item div.product-item div.item-photo {
  width: 90px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: solid 1pt #e8e8e8;
}
body[checkout] section.content ul.items .bag_item div.product-item div.item-photo span.quantity {
  display: block;
  position: absolute;
  right: -8px;
  top: -12px;
  background-color: #6b6f76;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-family: HelveticaNeue;
  /* border: solid 1.5pt #fff; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
body[checkout] section.content ul.items .bag_item div.product-item div.item-name {
  padding: 10px 10px 10px 30px;
}
body[checkout] section.content ul.items .bag_item div.product-item div.item-name div.capacity {
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
}
body[checkout] section.content ul.items .bag_item ul.item-price {
  width: 20%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body[checkout] section.content ul.items .bag_item ul.item-price li {
  width: 100%;
  font-size: 18px;
  color: #4e5156;
  text-align: center;
}
body[checkout] section.content ul.items .bag_item ul.item-price li:nth-child(2) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body[checkout] section.content ul.items .bag_item ul.item-price input {
  width: 60px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  border: 1pt solid #9fa3a8;
  display: inline-block;
  border-radius: 0;
}
body[checkout] section.content ul.items .bag_item ul.item-price div.add {
  width: 30px;
  height: 30px;
  background-image: url("../images/buy_products.svg");
  -webkit-background-size: 120px 60px;
  background-size: 120px 60px;
  background-position: 0 50%;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 20px;
  cursor: pointer;
}
body[checkout] section.content ul.items .bag_item ul.item-price div.minus {
  width: 30px;
  height: 30px;
  background-image: url("../images/buy_products.svg");
  -webkit-background-size: 120px 60px;
  background-size: 120px 60px;
  background-position: -30px 50%;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 20px;
  cursor: pointer;
}
body[checkout] section.content ul.items .bag_item div.remove {
  width: 6%;
  height: 20px;
  margin: auto;
  color: #777;
  cursor: pointer;
}
body[checkout] section.content ul .preorder-time {
  width: 100%;
  min-height: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  margin-bottom: 10px;
}
body[checkout] section.content ul .preorder-time li {
  width: auto;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 15px;
  color: #bfc1c5;
}
body[checkout] section.content ul .preorder-time li h5 {
  text-align: left;
  margin-top: 10px;
  color: #bfc1c5;
}
body[checkout] section.content ul .preorder-time li:first-child {
  color: #4e5156;
}
body[checkout] section.content ul .preorder-time li:first-child h5 {
  color: #4e5156;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body[checkout] section.content ul.items .bag_item {
    min-height: 120px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item {
    min-height: 120px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item div.product-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body[checkout] section.content ul.items .bag_item div.product-item div.item-photo {
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item div.product-item div.item-photo {
    width: 70px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body[checkout] section.content ul.items .bag_item div.product-item div.item-name h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item div.product-item div.item-name {
    padding: 10px 0 10px 15px;
  }
  body[checkout] section.content ul.items .bag_item div.product-item div.item-name h4 {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body[checkout] section.content ul.items .bag_item div.product-item div.item-name div.capacity {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item div.product-item div.item-name div.capacity {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body[checkout] section.content ul.items .bag_item ul.item-price li {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item ul.item-price {
    width: 100%;
    justify-content: flex-end;
  }
  body[checkout] section.content ul.items .bag_item ul.item-price li {
    width: 50%;
    font-size: 16px;
  }
  body[checkout] section.content ul.items .bag_item ul.item-price li:first-child {
    display: none;
  }
  body[checkout] section.content ul.items .bag_item ul.item-price li:last-child {
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body[checkout] section.content ul.items .bag_item ul.item-price input {
    width: 50px;
    line-height: 35px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item ul.item-price input {
    width: 40px;
    line-height: 30px;
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  body[checkout] section.content ul.items .bag_item ul.item-price div.add:hover {
    background-position: -60px 50%;
  }
  body[checkout] section.content ul.items .bag_item ul.item-price div.minus:hover {
    background-position: -90px 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body[checkout] section.content ul.items .bag_item ul.item-price div.add {
    width: 24px;
    height: 24px;
    -webkit-background-size: 96px 48px;
    background-size: 96px 48px;
    background-position: -48px 50%;
    margin-left: 10px;
  }
  body[checkout] section.content ul.items .bag_item ul.item-price div.minus {
    width: 24px;
    height: 24px;
    -webkit-background-size: 96px 48px;
    background-size: 96px 48px;
    background-position: -72px 50%;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item ul.item-price div.add {
    width: 22px;
    height: 22px;
    background-size: 88px 44px;
    background-position: -44px 50%;
    margin-left: 10px;
  }
  body[checkout] section.content ul.items .bag_item ul.item-price div.minus {
    width: 22px;
    height: 22px;
    background-size: 88px 44px;
    background-position: -66px 50%;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul.items .bag_item div.remove {
    position: absolute;
    right: -10px;
    top: 19px;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content .bag_item ul.preorder-time {
    padding: 0 5px;
    min-height: 100px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul .bag_item .preorder-time:after {
    height: 0;
  }
}
@media screen and (max-width: 767px) {
  body[checkout] section.content ul .bag_item .preorder-time li {
    display: none;
  }
  body[checkout] section.content ul .bag_item .preorder-time li:first-child, body[checkout] section.content ul .bag_item .preorder-time li:last-child {
    display: block;
    height: 55px;
  }
}
.full_a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

[v-cloak] {
  display: none;
  opacity: 0;
  transition: 0.5s;
}

body section.content .owl-carousel .owl-nav {
  height: 20px;
}
body section.content .owl-carousel .owl-nav .owl-prev, body section.content .owl-carousel .owl-nav .owl-next {
  background-color: transparent;
  color: #2f3031;
  position: absolute;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}
body section.content .owl-carousel .owl-nav .owl-prev:hover, body section.content .owl-carousel .owl-nav .owl-next:hover {
  opacity: 0.8;
}
body section.content .owl-carousel .owl-nav .owl-prev.disabled, body section.content .owl-carousel .owl-nav .owl-next.disabled {
  display: none;
}
body section.content .owl-carousel .owl-nav .owl-prev {
  left: 30px;
}
body section.content .owl-carousel .owl-nav .owl-next {
  right: 30px;
}

body section.content .arrow-left:before, body section.content .arrow-right:after {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/arrow.svg") center center/cover no-repeat;
}

body section.content .arrow-left:before, body section.content .arrow-right:after {
  width: 18px;
  height: 18px;
}

body section.content .arrow-left:before {
  margin-right: 5px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

body section.content .arrow-right:after {
  margin-right: 0px;
  margin-left: 5px;
}

body section.content .arrow-left:before, .arrow-right:after {
  width: 18px;
  height: 18px;
}

.items-fade-enter {
  position: absolute !important;
  opacity: 0;
}

.items-fade-enter-active {
  transition: opacity 1s;
}

.items-fade-leave {
  opacity: 1;
}

.items-fade-leave-active {
  opacity: 0;
  position: absolute !important;
  -ms-transform: translate(30px);
  -webkit-transform: translate(30px);
  transform: translate(30px);
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.has-item-leave-active {
  transition: opacity 0s;
}

.has-item-leave-active {
  opacity: 0;
}

body[shopping-bag] section.content .no_item {
  border-top: solid 1px #9fa3a8;
  border-bottom: solid 1px #9fa3a8;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 80px 0;
  margin-bottom: 60px;
  font-size: 16px;
}
body[shopping-bag] section.content .no_item span {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
body[shopping-bag] section.content .no_item .btn {
  padding: 8px 30px;
  background-color: #ab8eda;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  body[shopping-bag] section.content .no_item {
    margin-top: 20px;
    padding: 20px 0;
  }
}
body[shopping-bag] section.content .bag_item {
  transition: all 1s ease, margin 0s;
  background-color: #fff;
}

body[shopping-bag] .delete_box {
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 9px rgba(159, 163, 168, 0.4);
  -moz-box-shadow: 0px 0px 9px rgba(159, 163, 168, 0.4);
  box-shadow: 0px 0px 9px rgba(159, 163, 168, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 300px;
  height: 150px;
  background-color: #fff;
  text-align: center;
}
body[shopping-bag] .delete_box p {
  display: block;
  margin: 40px 0 20px;
}
body[shopping-bag] .delete_box p span {
  color: #ab8eda;
}
body[shopping-bag] .delete_box .btn {
  margin: 5px;
  padding: 5px 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
body[shopping-bag] .delete_box .confirm {
  background-color: #ab8eda;
  color: #fff;
  font-weight: 100;
}
body[shopping-bag] .delete_box .cancel {
  color: #fff;
  font-weight: 100;
}
body[shopping-bag] .delete_box .search-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: #fff;
  height: 30px;
  width: 30px;
}
body[shopping-bag] .delete_box .search-close:before, body[shopping-bag] .delete_box .search-close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 25px;
  height: 2px;
  background-color: #9fa3a8;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body[shopping-bag] .delete_box .search-close:before {
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
}
body[shopping-bag] .delete_box .search-close:after {
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
}

body[shopping-bag] section.content .bag_item div.remove {
  position: relative;
  width: 6%;
  height: 20px;
  margin: auto;
  color: #777;
  cursor: pointer;
}
body[shopping-bag] section.content .bag_item .layer {
  z-index: 999;
  top: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% - 2px);
}
body[shopping-bag] section.content .bag_item .layer .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-shadow: 0px 0px 5px white;
}
body[shopping-bag] section.content .bag_item .layer .control_box {
  display: inline-block;
  position: absolute;
  left: initial;
  top: 60px;
  right: 0%;
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  background-color: #fff;
  width: 24%;
  min-width: 180px;
  text-align: center;
}
body[shopping-bag] section.content .bag_item .layer .control_box .btn {
  display: inline-block;
  font-size: 14px;
  width: 40%;
  min-width: 80px;
  color: white;
  padding: 5px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body[shopping-bag] section.content .bag_item .layer .control_box .btn:first-child {
  margin-right: 5px;
}
body[shopping-bag] section.content .bag_item .layer .control_box .confirm {
  background-color: #ab8eda;
}
body[shopping-bag] section.content .bag_item .layer .control_box .cancel {
  background-color: #9fa3a8;
}

@media screen and (max-width: 767px) {
  body[shopping-bag] section.content .bag_item .layer .text {
    top: 30%;
    width: 100%;
  }
  body[shopping-bag] section.content .bag_item .layer .control_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 60%;
  }
  body[shopping-bag] section.content .bag_item div.remove {
    position: absolute;
    right: -10px;
    top: 19px;
  }
  body[shopping-bag] section.content .bag_item:last-child {
    margin-bottom: 0;
  }
  body[shopping-bag] section.content .bag_item:last-child:after {
    height: 1px;
  }
}
