@import compass/css3
@import mixin

body[faq] section.content
	margin-top: 90px
	margin-bottom: 109px
	.qa_section
		.search_area
			padding: 86px 40px 101px
			max-width: 1280px
			margin: 0px auto
			h1
				margin-bottom: 24px
				text-align: left
				color: $color_black
				font-size: 38px
			input.faq_search
				width: 100%
				max-width: 540px
				height: 64px
				border: solid 1px $color_border
				padding: 10px 15px
				font-size: 20px
	.qa_section
		padding: 0 70px
		> ul
			li.qa_block
				border-bottom: solid 1px $color_border
				padding: 44px 50px
				max-width: 1280px
				margin: 0px auto
				font-size: 0
				&:first-child
					border-top: solid 1px $color_border
				h2
					text-align: left
					font-size: 28px
					margin-bottom: 21px
				.ask
					position: relative
					display: inline-block
					font-size: 18px
					line-height: 42px
					margin-top: 61px
					cursor: pointer
					span
						display: inline-block
						&:after
							content: ""
							display: inline-block
							margin-left: 5px
							vertical-align: text-top
							width: 23px
							height: 22px
							background: url('../images/arrow.svg') center center / contain no-repeat
				& > ul
					column-count: 2
					column-gap: 30px
					-moz-column-count: 2
					-moz-column-gap: 30px
					-webkit-column-count: 2
					-webkit-column-gap: 30px
					width: 100%
					padding: 0 10px
					li
						display: inline-block
						width: 100%
						margin: 8px 0
						font-size: 20px
					
				.faquestion
					h3
						display: inline-block
						font-family: "PingFangTC"
						font-weight: 300
						font-size: 18px
						letter-spacing: 1px
						line-height: 1.5
						text-align: left
						cursor: pointer
						transition: 0.3s
						color: $color_black
						&.active
							font-weight: blod
							color: $color_dark
					span
						display: inline-block
					.faqanswer
						padding: 20px
						font-size: 18px
						display: none

@media screen and (min-width: 768px) and (max-width: 1100px)
	body[faq] section.content
		.qa_section
			padding: 0 30px
			.search_area
				padding-left: 20px
				padding-right: 20px
			> ul
				li.qa_block
					padding-left: 20px
					padding-right: 20px
		
@media screen and (max-width: 767px)
	body[faq] section.content
		margin-top: 55px
		margin-bottom: 37px
		.qa_section
			padding: 0 20px
			.search_area
				width: 100%
				text-align: center
				padding: 45px 0 0
				h1
					display: none
				input.faq_search
					display: inline-block
					height: 44px	
					max-width: 100%
					margin: 0px auto
					background-color: #efefef
					font-size: 17px
					border: none
			> ul
				li.qa_block
					padding: 50px 0 40px
					&:first-child
						border-top: none
					&:last-child
						border-bottom: none
					h2
						font-size: 23px
					.ask
						font-size: 14px
						span
							&:after
								height: 18px	
					& > ul
						width: 100%
						padding: 0
						font-size: 16px
					.faquestion
						h3
							font-size: 16px
							line-height: 23px
							margin: 3px 0
						
					
				
					
				