@import compass/css3
@import mixin

body[faq] section.content
	margin-top: 90px
	margin-bottom: 109px
	.qa_section
		.search_area
			padding: 86px 40px 101px
			max-width: 1280px
			margin: 0px auto
			h1
				margin-bottom: 24px
				text-align: left
				color: $color_black
				font-size: 38px
			input.faq_search
				width: 100%
				max-width: 540px
				height: 64px
				border: solid 1px $color_border
				padding: 10px 15px
				font-size: 20px
	.qa_section
		padding: 0 70px
		> ul
			li.qa_block
				border-bottom: solid 1px $color_border
				padding: 44px 50px
				max-width: 1280px
				margin: 0px auto
				font-size: 0
				&:first-child
					border-top: solid 1px $color_border
				h2
					text-align: left
					font-size: 28px
					margin-bottom: 21px
				.ask
					position: relative
					display: inline-block
					font-size: 18px
					line-height: 42px
					margin-top: 61px
					cursor: pointer
					&.last
						margin-top: 0
					span
						display: inline-block
						&:after
							content: ""
							display: inline-block
							margin-left: 5px
							vertical-align: text-top
							width: 23px
							height: 22px
							background: url('../images/arrow.svg') center center / contain no-repeat
				& > ul
					column-count: 2
					column-gap: 30px
					-moz-column-count: 2
					-moz-column-gap: 30px
					-webkit-column-count: 2
					-webkit-column-gap: 30px
					width: 100%
					padding: 0 10px
					li
						display: inline-block
						width: 100%
						margin: 8px 0
						font-size: 20px
				.faquestion
					h3
						display: inline-block
						font-family: "PingFangTC"
						font-weight: 300
						font-size: 18px
						letter-spacing: 1px
						line-height: 1.5
						text-align: left
						cursor: pointer
						transition: 0.3s
						color: $color_black
						&.active
							font-weight: 700
							color: $color_dark
					span
						display: inline-block
					.faqanswer
						position: relative
						padding: 20px
						font-size: 18px
						display: none

@media screen and (min-width: 768px) and (max-width: 1100px)
	body[faq] section.content
		.qa_section
			padding: 0 30px
			.search_area
				padding-left: 20px
				padding-right: 20px
			> ul
				li.qa_block
					padding-left: 20px
					padding-right: 20px
		
@media screen and (max-width: 767px)
	body[faq] section.content
		margin-top: 55px
		margin-bottom: 37px
		.qa_section
			padding: 0 20px
			.search_area
				width: 100%
				text-align: center
				padding: 45px 0 0
				h1
					display: none
				input.faq_search
					display: inline-block
					height: 44px	
					max-width: 100%
					margin: 0px auto
					background-color: #efefef
					font-size: 17px
					border: none
			> ul
				li.qa_block
					padding: 50px 0 40px
					&:first-child
						border-top: none
					&:last-child
						border-bottom: none
					h2
						font-size: 23px
					.ask
						font-size: 14px
						span
							&:after
								height: 18px	
					& > ul
						column-count: 1
						-moz-column-count: 1
						-webkit-column-count: 1
						width: 100%
						padding: 0
						font-size: 16px
					.faquestion
						h3
							font-size: 16px
							line-height: 23px
							margin: 3px 0
						.faqanswer
							font-size: 16px
							line-height: 1.8
						
body[faq-ask-question] section.content
	margin-top: 90px
	margin-bottom: 200px
	.container-fiuld
		padding-top: 160px
		h1
			font-size: 34px
		#faq-form
			width: 100%
			max-width: 634px
			margin: 0px auto
			padding-top: 72px
			text-align: center
			input:-webkit-autofill
				-webkit-box-shadow: 0 0 0px 1000px white inset
			input[type="text"],input[type="mail"],label
				display: block
				width: 100%
				font-size: 20px
				padding: 5px
				margin-bottom: 60px
				border-bottom: solid 1px #bfc1c5
			label
				font-weight: 300
				margin-bottom: 0
				border-bottom: none
				color: #bfc1c5
				text-align: left
			textarea
				border: solid 1px #bfc1c5
				resize: none
				width: 100%
				height: 350px
				padding: 10px
				font-size: 20px
				overflow: visible
				margin-bottom: 109px
			input[type="submit"]
				width: 200px
				height: 60px
				margin: 0px auto
				display: inline-block
				+border-radius(2px)
				background-color: $color_purple
				font-size: 18px
				color: white

@media screen and (max-width: 767px)
	body[faq-ask-question] section.content
		margin-top: 55px
		margin-bottom: 55px
		.container-fiuld
			padding: 60px 30px
			h1
				font-size: 24px
				text-align: left
			#faq-form
				padding-top: 40px
				input[type="text"],input[type="mail"],label
					font-size: 15px
					padding: 4px
					margin-bottom: 29px
				label
					margin-bottom: 0
				textarea
					font-size: 15px
					height: 232px
					margin-bottom: 55px
				input[type="submit"]
					width: 100%
					height: 44px
					font-size: 15px
					+border-radius(1px)