<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。">
    <meta name="author" content="LanVece">
    <meta name="og:description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。" />
	<meta property="og:title" content="【LanVece 新鮮保養】"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.lanvece.com"/>
	<meta property="og:image" content="http://www.lanvece.com/images/lanvece_small.png"/>
	<meta property="og:site_name" content="LanVece 最新鮮的保養品" />
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/shopping_bag.css">
	
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	navTextPrev = '<i class="fa fa-arrow-left" aria-hidden="true"></i> 上一波訂製';
	navTextNext = '下一波訂製 <i class="fa fa-arrow-right" aria-hidden="true"></i>';
	</script>
	<script src="css/owlcarousel/owl.carousel.min.js"></script>
	<script src="js/vue.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	<link rel="bookmark" href="images/favicon.ico"/>
	<title>LanVece</title>
</head>
<body checkout>
	<header class=""></header>

	<section id="checkout"  class="content">
		<form action="">
			<div class="right-content">
				<h4 class="bouns-points">您有 <span>{{left_bonus_point}}</span> 點會員紅利</h4>
				<p>(10 點會員紅利可折抵商品 1 元，限折抵訂單全額) </p>
				<h3>您購買的項目<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></h3>
				<div class="points-using">
					<input type="text" placeholder="您欲使用的點數">
					<input type="checkbox" value="true" name="use_points" v-bind:disabled="left_bonus_price<now_price&&bag_data.discount_for!=1?true:false" id="use_points" v-on:click="discount(1)">
					<label for="use_points">使用紅利折抵</label>
				</div>
				<ul class="titles">
					<li>商品項目</li>
					<li>價格</li>
				</ul>
				<ul class="items">
					<li v-for="(p,id) in bag_data.products" v-if="p.pre_order == false">
						<bagItem :items_data="p"></bagItem>
					</li>
				</ul>
				<h3>您的訂製項目<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></h3>
				<div class="points-using">
					<input type="text" placeholder="您欲使用的點數">
					<input type="checkbox" value="true" name="use_points" v-bind:disabled="left_bonus_price<pre_price&&bag_data.discount_for!=2?true:false" id="use_points_preorder" v-on:click="discount(2)">
					<label for="use_points_preorder">使用紅利折抵</label>
				</div>
				<ul class="titles">
					<li>商品項目</li>
					<li>價格</li>
				</ul>
				<ul class="items">
					<!--use component-->
					<li v-for="(p,id) in bag_data.products" v-if="p.pre_order">
						<bagItem :items_data="p"></bagItem>
					</li>
					<!--end component-->
				</ul>
				
				<div class="summary">
					
					<div class="summary-details">
						<h4>Summary</h4>
						<ul>
							<li>
								<div class="summary-label">結帳金額小計</div><div class="subtotal-amount currency">{{sub_total_price}}</div>
							</li>
							<li>
								<div class="summary-label">免費運送</div><div class="shipping-amount currency">{{trans_price}}</div>
							</li>
							<li class="using-points">
								<div class="summary-label">紅利點數折抵</div><div class="shipping-amount currency">-{{discount_price}}</div>
							</li>
							<li>
								<div class="summary-label">總額</div><div class="total-amount currency">{{total_price}}</div>
							</li>
						</ul>
						
					</div>
				</div>
			</div>	

			<div class="left-content">
				<a name="your-info"></a>
				<ul class="breadcrumb">
					<li class="active">顧客資訊</li>
					<div class="step1">
						<div class="customer-info">
							<h2>購買人資訊</h2>
							<div class="input"><input type="email" placeholder="Email" v-model="buyer_data.email"></div>
							<h2>收件人資訊</h2>
							<div class="input"><input type="text" placeholder="收件人姓名" v-model="buyer_data.name"></div>
							<div class="input"><input type="text" placeholder="手機號碼" v-model="buyer_data.phone"></div>
							<div class="input address">
								<select v-model="buyer_data.county">
									<option value="" disabled selected>縣市</option>
									<option v-for="c in address_data.county_data" v-bind:value="c.value">{{c.name}}</option>
								</select>
								<select v-model="buyer_data.district">
									<option value="" disabled selected>地區</option>
									<option v-for="d in address_data.district_data" v-bind:value="d.value">{{d.name}}</option>
								</select>
							</div>
							<div class="input"><input type="text" placeholder="街道地址" v-model="buyer_data.street"></div>
							<div class="save-for-next"><input type="checkbox" checked> <span>將收件人資料儲存方便下次使用。</span></div>
						</div>
						<div class="goback">
							<h4 class="inline"><a href="shopping-bag.html">返回購物袋</a></h4>
							<a href="#your-info" class="login-btn next-btn" d="gostep2">下一步</a>
						</div>
					</div>
					<li>運送與付款方式</li>
					<div class="step2">
						<div class="customer-info">
							<h2>收件人資訊</h2>
							<ul class="receiver-details">
								<li class="th">姓名</li>
								<li class="td">{{buyer_data.name}}</li>
								<li class="th">手機號碼</li>
								<li class="td">{{buyer_data.phone}}</li>
								<li class="th">地址</li>
								<li class="td">{{final_address}}</li>
							</ul>
							<h2>運送方式</h2>
							<ul class="shipping-method">
								<li>
									<label>
										<input type="radio" name="shipping_method" value="1" v-model="buyer_data.trans_way" checked><span class="dot"></span>
										<span>黑貓宅配</span>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="shipping_method" value="2" v-model="buyer_data.trans_way"><span class="dot"></span><span>黑貓貨到付款</span>
									</label>
								</li>
								<li>
									<input type="radio" name="shipping_method" value="3" id="shipping-method-711" v-model="buyer_data.trans_way">
									<label for="shipping-method-711"><span class="dot"></span><span>7-11 純取貨</span></label>
									<div class="choose711"><a href="#" onclick="show_cvs_map();"><button>選擇收件門市</button></a></div>
									<div class="selected-store">
										<p class="store-name">門市名稱：<span></span></p>
										<p class="store-address">門市地址：<span></span></p>
										<input type="hidden" name="store_id" id="store_id" value="">
										<input type="hidden" name="store_name" id="store_name" value="">
									</div>
								</li>
							</ul>
						</div>
						<div class="goback">
							<h4 class="inline">返回顧客資訊</h4>
							<a href="#your-info" class="login-btn next-btn" d="gostep3">下一步</a>
						</div>
					</div>
					<li>確認購買資訊</li>
					<div class="step3">
						<div class="customer-info">
							<h2>收件人資訊</h2>
							<ul class="receiver-details">
								<li class="th">Email</li>
								<li class="td">{{buyer_data.email}}</li>
								<li class="th">姓名</li>
								<li class="td">{{buyer_data.name}}</li>
								<li class="th">手機號碼</li>
								<li class="td">{{buyer_data.phone}}</li>
								<li class="th">地址</li>
								<li class="td">{{final_address}}</li>
								<li class="th">運送方式</li>
								<li class="td store-name">{{trans_way_word}}<span></span></li>
							</ul>
						</div>
						<div class="goback">
							<h4 class="inline">返回運送與付款方式</h4>
							<div class="input">
								<input type="submit" value="前往付款" class="login-btn pay-btn">
							</div>
							<div class="input">
								<input type="submit" value="完成訂購" class="login-btn pay-btn">
							</div>
						</div>
					</div>
				</ul>
				
			</div>
		</form>
	</section>	
	
	<footer></footer>

	<!--Vue component-->
		<template id="bag_item">
			<div class="bag_item">
				<div class="product-item">
					<div class="item-photo"><img v-bind:src="items_data.image"><span class="quantity">{{items_data.quantity}}</span></div>
					<div class="item-name">
						<h4>{{items_data.name}}</h4>
						<div class="capacity">{{items_data.capacity}} ml</div>
					</div>
				</div>
				<ul class="item-price">
					<li class="currency">{{final_price}}</li>
				</ul>
				<ul class="preorder-time" v-if="items_data.pre_order">
					<li class="placeorder"><div>{{items_data.order_date[0]}} - {{items_data.order_date[1]}}</div><h5>下訂期</h5></li>
					<li class="shipping"><div>{{items_data.order_date[6]}}</div><h5>運送</h5></li>
				</ul>
			</div>
		</template>
	<!--end component-->
	
	<script src="js/products.js"></script>
	<script src="js/base.js"></script>
	<script>
		$.get("components/header.html", function(data, status){
        	$('header').html(data);
    	});
		$.get("components/footer.html", function(data, status){
        	$('footer').html(data);
    	});
	</script>
</body>
</html>