<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。">
		<meta name="author" content="LanVece">
		<meta name="og:description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。" />
		<meta property="og:title" content="【LanVece 新鮮保養】"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.lanvece.com"/>
		<meta property="og:image" content="http://www.lanvece.com/images/lanvece_small.png"/>
		<meta property="og:site_name" content="LanVece 最新鮮的保養品" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
navTextPrev = '<i class="fa fa-arrow-left" aria-hidden="true"></i> 上一波訂製';
navTextNext = '下一波訂製 <i class="fa fa-arrow-right" aria-hidden="true"></i>';
		</script>
		<script src="css/owlcarousel/owl.carousel.min.js"></script>
		<script src="js/vue.min.js"></script>

		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="bookmark" href="images/favicon.ico"/>
		<link rel="stylesheet" href="css/product.css">
		<title>LanVece</title>
	</head>
	<body faq>
		<header></header>
		<section id="faq" class="content">
			<div class="container-fiuld qa_section">
				<div class="search_area">
					<h1>常見問題</h1>
					<p v-for="n in filter_data">
					</p>
					<input class="faq_search" v-model="search_data" type="text" placeholder="Your Question..">
				</div>
			</div>
			<div class="container-fiuld qa_section">
				<ul class="qa_wrap">
					<li class="qa_block" v-for="d in filter_data" v-if="d.questions.length > 0">
						<h2>{{d.type}}相關</h2>
						<ul>
							<li v-for="(q,id) in d.questions">
								<faquestion :question_data="q" :id="id">
								</faquestion>
							</li>
						</ul>
						<a class="ask" href="faq-ask-question.html"><span>無法解決您的問題？請發問</span></a>
					</li>
					<li class="qa_block"  v-if="!have_filter">
						<a class="ask last" href="faq-ask-question.html"><span>沒有相關的問題？請發問</span></a>
					</li>
				</ul>
			</div>
		
		</section>

		<footer></footer>

		<template id="faquestion">
			<div class="faquestion">
				<h3 v-on:click="show_ans($event)">{{id+1}}. {{question_limit}}</h3>
				<div class="faqanswer">
					{{question_data.content}}
				</div>
			</div>
		</template>

		<script>
$.get("components/header.html", function(data, status){
	$('header').html(data);
});
$.get("components/footer.html", function(data, status){
	$('footer').html(data);
}); 
		</script>
		<script src="js/products.js"></script>
		<script src="js/base.js"></script>
	</body>
</html>