<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。">
		<meta name="author" content="LanVece">
		<meta name="og:description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。" />
		<meta property="og:title" content="【LanVece 新鮮保養】"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.lanvece.com"/>
		<meta property="og:image" content="http://www.lanvece.com/images/lanvece_small.png"/>
		<meta property="og:site_name" content="LanVece 最新鮮的保養品" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
navTextPrev = '<i class="fa fa-chevron-left" aria-hidden="true"></i> 上一個';
navTextNext = '下一個 <i class="fa fa-chevron-right" aria-hidden="true"></i>';
		</script>
		<script src="css/owlcarousel/owl.carousel.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/base.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="bookmark" href="images/favicon.ico"/>
		<link rel="stylesheet" href="css/product.css">
		<title>LanVece</title>
	</head>
	<body join-team>
		<header></header>
		<section id="join-team" class="content" v-cloak>
			<div class="container-fiuld" v-if="join_team_data">
				<h1>加入LanVece團隊</h1>
				<p>LanVece 是一家2016年成立的保養品牌，在這之前的20年深耕於培育蘭花，從育苗、種花、採花、萃取，每個環節都有深厚的經驗。為了想讓更多人知道蘭花對於保養肌膚的好，開始嘗試做品牌。</p>
			</div>
			<div class="container-fiuld" v-if="join_team_data">
				<h2>職缺訊息</h2>
				<ul class="owl-join owl-carousel owl-theme">
					<li v-for="i in join_team_data.job_open" class="items">
						<h3>{{i.type}}</h3>
						<p>{{i.location}}</p>
						<div class="join_box">
							<ul class="position">
								<li v-for="j in i.position">
									<a :href="j.link"><h4>{{j.title}}</h4></a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<footer></footer>

		<script src="js/products.js"></script>
		<script>
$.get("components/header.html", function(data, status){
	$('header').html(data);
});
$.get("components/footer.html", function(data, status){
	$('footer').html(data);
});  
		</script>
	</body>
</html>