<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。">
		<meta name="author" content="LanVece">
		<meta name="og:description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。" />
		<meta property="og:title" content="【LanVece 新鮮保養】"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.lanvece.com"/>
		<meta property="og:image" content="http://www.lanvece.com/images/lanvece_small.png"/>
		<meta property="og:site_name" content="LanVece 最新鮮的保養品" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/product.css">
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script>
navTextPrev = '<i class="fa fa-chevron-left" aria-hidden="true"></i> 上一個';
navTextNext = '下一個 <i class="fa fa-chevron-right" aria-hidden="true"></i>';
		</script>
		<script src="css/owlcarousel/owl.carousel.min.js"></script>
		<script src="js/jquery.lightbox_me.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="bookmark" href="images/favicon.ico"/>
		<title>LanVece</title>
	</head>
	<body member-center>
		<header class="login"></header>

		<section id="member_center" class="content">
			<div class="container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#center-menu"><h3>會員中心</h3></a></li>
					<li><a data-toggle="tab" href="#order-menu"><h3>訂單查詢</h3></a></li>
					<li><a data-toggle="tab" href="#traceability"><h3>生產履歷</h3></a></li>
				</ul>
				<div class="tab-content">
					<div id="center-menu" class="tab-pane fade in active">
						<ul class="nav nav-tabs submenu">
							<li class="active"><a data-toggle="tab" href="#account">帳戶資訊</a></li>
							<li><a data-toggle="tab" href="#recipient">收件人資訊</a></li>
							<li><a data-toggle="tab" href="#membership">會員等級</a></li>
							<li><a data-toggle="tab" href="#newsletter">電子報設定</a></li>
						</ul>
						<div class="tab-content">
						<!--  帳戶資訊頁  -->
							<div id="account" class="tab-pane fade in active">
								<h3>基本資料</h3>
								<div class="input"><input type="text" value=""></div>
								<div class="input"><input type="email" value=""></div>
								<button class="small-btn change-password">變更密碼</button>
								<div class="change-password-area">
									<button class="change-password-close">close</button>
									<form action="">
										<h3>變更密碼</h3>
										<div class="input"><input type="password" name="password_current" value="" placeholder="現在的密碼"></div>
										<div class="input"><input type="password" name="password_new" value="" placeholder="新密碼"></div>
										<div class="input"><input type="password" name="password_new_confirm" value="" placeholder="再次確認新密碼"></div>
										<div class="input"><input type="submit" value="變更" class="login-btn save"></div>
									</form>
								</div>
								<h5>您的大頭照</h5>
								<div class="avator">
									<img src="https://api.fnkr.net/testimg/200x200/b99ee4/FFF/?text=Liu">
								</div>
								<div class="input"><input type="button" value="儲存" class="login-btn save"></div>
							</div>
							<!--  收件資訊頁  -->
							<div id="recipient" class="tab-pane fade">
								<h3>收件人</h3>
								<div class="input"><input type="text" placeholder="收件人姓名"></div>
								<div class="input"><input type="text" placeholder="手機號碼"></div>
								<div class="input address">
									<select name="recipient_address_city">
										<option value="null">縣市</option>
									</select>
									<select name="recipient_address_district">
										<option value="null">區</option>
									</select>
								</div>
								<div class="input"><input type="text" name="recipient_address_detail"></div>
								<h3>帳單地址</h3>
								<div class="input address">
									<select name="billing_address_city">
										<option value="null">縣市</option>
										<option value="1">台北市</option>
									</select>
									<select name="billing_address_district">
										<option value="null">區</option>
										<option value="1">松山區</option>
									</select>
								</div>
								<div class="input"><input type="text" name="billing_address_detail"></div>
								<div class="save-for-next"><input type="checkbox" checked> <span>與收件人地址相同。</span></div>
								<div class="input"><input type="button" value="儲存" class="login-btn save"></div>
							</div>
							<!--  會員等級頁  -->
							<div id="membership" class="tab-pane fade" v-show="membership_data">
									<ul class="member_grade owl-membership owl-carousel owl-theme">
										<li v-for="m in membership_data" :class="is_now_grade(m.grade)?'active center':''">
											<div class="avator">
												<img  v-if="is_now_grade(m.grade)" src="https://api.fnkr.net/testimg/200x200/b99ee4/FFF/?text=Liu">
											</div>
											<h4>{{m.grade}}</h4>
											<hr>
											<ul class="qualification">
												<li v-if="m.qualification">
													{{m.qualification}}
												</li>
												<li v-for="u in m.upgrade" v-if="u.origin_level">
													{{u.origin_level}} --
													{{u.require}} 即可成為 {{m.grade}}
												</li>
											</ul>
										</li>
									</ul>
								<h3>紅利點數</h3>
								<ul class="point">
									<li class="tr">
										<div class="th">累計方式</div>
										<div class="td">加入會員後，在 LanVece專櫃或網站消費皆可累積。 {{now_grade_data.point_transfer}}</div>
									</li>
									<li class="tr">
										<div class="th">點數折抵</div>
										<div class="td">紅利點數 1 點 ＝ NT 1 元。點數可兌換任意商品</div>
									</li>
								</ul>
								<h3>會員福利</h3>
								<ul class="interest">
									<li class="tr" v-for="i in now_grade_data.interest">
										<div class="th">{{i.title}}</div>
										<div class="td">{{i.content}}</div>
									</li>
								</ul>
							</div>
							<!--  電子報頁  -->
							<div id="newsletter" class="tab-pane fade">
								<h3>電子報</h3>
								<div>
									<label class="switch">
										<input type="checkbox">
										<div class="slider round"></div>
									</label>
								</div>
							</div>
						</div>
					</div>
					<!--  訂單查詢頁  -->
					<div id="order-menu" class="tab-pane fade">
						<ul class="nav nav-tabs submenu">
							<li class="active"><a data-toggle="tab" href="#order">進行中訂單</a></li>
							<li><a data-toggle="tab" href="#past-order">歷史訂單</a></li>
						</ul>
						<div class="tab-content">
							<div id="order" class="tab-pane fade in active">
								<div class="order-search">
									<div class="search-form">
										<form action="">
											<input type="text" id="order_search" v-model="search_data" placeholder="訂單編號" />
											<button type="submit">Search</button>
										</form>
									</div>
								</div>
								<ul>
									<li class="no_data" v-if="filter_data == ''">查無訂單</li>
									<li v-for="(o,id) in filter_data" v-if="o.order_type == 'now_order'">
										<div class="order-info">
											<h3>訂單編號：<span>{{o.order_id}}</span><i class="fa fa-angle-down fa-lg close-items" aria-hidden="true"></i></h3>
											<h5>訂單日期：<span>{{o.order_date}}</span></h5>
											<h5>運送方式：<span>{{o.trans_type}}</span></h5>
											<button class="small-btn">取消訂單</button><!-- 採花期之前顯示 -->
											<button class="small-btn">申請退貨</button>
										</div>
										<ul class="titles">
											<li>商品項目</li>
											<li>訂單狀態</li>
											<li>價格</li>
											<li>數量</li>
											<li>小計</li>
										</ul>
										<ul class="items">
											<!--use Vue template-->
											<li v-for="p in o.products">
												<orderList :products="p"></orderList>
											</li>
											<!--end Vue template-->
										</ul>
									</li>

								</ul>
								<ul>
									<li v-for="(o,id) in filter_data" v-if="o.order_type == 'pre_order'">
										<div class="order-info">
											<h3>訂製訂單編號：<span>{{o.order_id}}</span><i class="fa fa-angle-down fa-lg close-items" aria-hidden="true"></i></h3>
											<h5>訂單日期：<span>{{o.order_date}}</span></h5>
											<h5>運送方式：<span>{{o.trans_type}}</span></h5>
											<button class="small-btn">取消訂單</button><!-- 採花期之前顯示 -->
											<button class="small-btn">申請退貨</button>
										</div>
										<ul class="titles">
											<li>商品項目</li>
											<li>訂單狀態</li>
											<li>價格</li>
											<li>數量</li>
											<li>小計</li>
										</ul>
										<ul class="items">
											<!--use Vue template-->
											<li v-for="p in o.products">
												<orderList :products="p"></orderList>
											</li>
											<!--end Vue template-->
										</ul>
									</li>
								</ul>

							</div>
							<div id="past-order" class="tab-pane fade">
								<div class="order-search">
									<div class="search-form">
										<form action="">
											<input type="text" id="past_order_earch" v-model="history_search_data" placeholder="訂單編號" />
											<button type="submit">Search</button>
										</form>
									</div>
								</div>
								<ul>
									<li class="no_data" v-if="history_filter_data == ''">查無訂單</li>
									<li v-for="(o,id) in history_filter_data" v-if="o.order_type == 'now_order'">
										<div class="order-info">
											<h3>訂單編號：<span>{{o.order_id}}</span><i class="fa fa-angle-down fa-lg close-items" aria-hidden="true"></i></h3>
											<h5>訂單日期：<span>{{o.order_date}}</span></h5>
											<h5>運送方式：<span>{{o.trans_type}}</span></h5>
											<button class="small-btn">取消訂單</button><!-- 採花期之前顯示 -->
											<button class="small-btn">申請退貨</button>
										</div>
										<ul class="titles">
											<li>商品項目</li>
											<li>訂單狀態</li>
											<li>價格</li>
											<li>數量</li>
											<li>小計</li>
										</ul>
										<ul class="items">
											<!--use Vue template-->
											<li v-for="p in o.products">
												<orderList :products="p"></orderList>
											</li>
											<!--end Vue template-->
										</ul>
									</li>
								</ul>
								<ul>
									<li v-for="(o,id) in history_filter_data" v-if="o.order_type == 'pre_order'">
										<div class="order-info">
											<h3>訂製訂單編號：<span>{{o.order_id}}</span><i class="fa fa-angle-down fa-lg close-items" aria-hidden="true"></i></h3>
											<h5>訂單日期：<span>{{o.order_date}}</span></h5>
											<h5>運送方式：<span>{{o.trans_type}}</span></h5>
											<button class="small-btn">取消訂單</button><!-- 採花期之前顯示 -->
											<button class="small-btn">申請退貨</button>
										</div>
										<ul class="titles">
											<li>商品項目</li>
											<li>訂單狀態</li>
											<li>價格</li>
											<li>數量</li>
											<li>小計</li>
										</ul>
										<ul class="items">
											<!--use Vue template-->
											<li v-for="p in o.products">
												<orderList :products="p"></orderList>
											</li>
											<!--end Vue template-->
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="traceability" class="tab-pane fade">
						<div class="order-search">
							<div class="search-form">
								<form action="">
									<input type="text" id="traceability_search" placeholder="訂單編號" />
									<button type="submit">Search</button>
								</form>
							</div>
							<div class="item">
								<div>
									<div class="item-photo"><img src="images/products/product-demo.png"></div>
									<h3>逆齡時空肌蘭萃菁華液</h3>
								</div>
								<ul class="traceability-info">
									<li>
										<h5>2013 - 2017</h5>
										<div class="img"><img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=A"></div>
										<h4>種植</h4>
									</li>
									<li>
										<h5>2017 / 04 / 15</h5>
										<div class="img"><img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=B"></div>
										<h4>採花</h4>
									</li>
									<li>
										<h5>2017 / 04 / 17</h5>
										<div class="img"><img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text=C"></div>
										<h4>萃取</h4>
									</li>
								</ul>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>	

		<footer></footer>

		<!--Vue component-->
		<template id="order_list">
			<div class="order_list">
				<div class="product-item">
					<div class="item-photo"><img src="images/products/product-demo.png"><span class="quantity">{{products.quantity}}</span></div>
					<div class="item-name">
						<div class="item-status">{{products.order_status}}</div>
						<h4>{{products.name}}</h4>
						<div class="capacity">{{products.capacity}} ml</div>
						<input type="hidden" v-bind:value="products.product_id" name="product_id">
					</div>
				</div>
				<ul class="item-price">
					<li class="currency">{{products.item_price}}</li>
					<li>{{products.quantity}}</li>
					<li class="currency">{{final_price}}</li>
				</ul>
				<ul class="preorder-time" v-if="products.order_date">
					<li v-bind:class="products.pre_order_status>=1?'active placeorder':'placeorder'"><div>{{products.order_date[0]}}</div><h5>下訂期</h5></li>
					<li v-bind:class="products.pre_order_status>=2?'active flower':'flower'"><div>{{products.order_date[1]}}</div><h5>手工採花</h5></li>
					<li v-bind:class="products.pre_order_status>=3?'active extracting':'extracting'"><div>{{products.order_date[2]}}</div><h5>定量萃取</h5></li>
					<li v-bind:class="products.pre_order_status>=4?'active detecting':'detecting'"><div>{{products.order_date[3]}}</div><h5>微生物檢測</h5></li>
					<li v-bind:class="products.pre_order_status>=5?'active bottling':'bottling'"><div>{{products.order_date[4]}}</div><h5>裝瓶</h5></li>
					<li v-bind:class="products.pre_order_status>=6?'active shipping':'shipping'"><div>{{products.order_date[5]}}</div><h5>運送</h5></li>
				</ul>
			</div>
		</template>
		<!--end component-->
		<script src="js/products.js"></script>
		<script src="js/base.js"></script>
		<script>
$.get("components/header.html", function(data, status){
	$('header').html(data);
});
$.get("components/footer.html", function(data, status){
	$('footer').html(data);
});
		</script>
	</body>
</html>