<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。">
		<meta name="author" content="LanVece">
		<meta name="og:description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。" />
		<meta property="og:title" content="【LanVece 新鮮保養】"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.lanvece.com"/>
		<meta property="og:image" content="http://www.lanvece.com/images/lanvece_small.png"/>
		<meta property="og:site_name" content="LanVece 最新鮮的保養品" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
navTextPrev = '<i class="fa fa-chevron-left" aria-hidden="true"></i> 上一個';
navTextNext = '下一個 <i class="fa fa-chevron-right" aria-hidden="true"></i>';
		</script>
		<script src="css/owlcarousel/owl.carousel.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/base.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="bookmark" href="images/favicon.ico"/>
		<link rel="stylesheet" href="css/product.css">
		<title>LanVece</title>
	</head>
	<body pre-order-app>
		<header></header>
		<section id="product_app" class="content" v-cloak>
			<!--訂製日-->
			<div class="container-fiuld date_wrap" v-if="product">
				<div class="date_box">
					<h2>訂製日 {{product.pre_order_date.from}}～{{product.pre_order_date.to}}</h2>
					<div class="date_block" v-for="p in product.pre_order_procedure">
						<div class="date">{{p.date}}</div>
						<div class="event">{{p.event}}</div>
					</div>
				</div>
			</div>
			<!--產品操作-->
			<div class="container" v-if="product">
				<div class="row product_intro">
					<div class="col-sm-5">
						<img class="product_img" v-bind:src="product.image" alt="">
					</div>
					<div class="col-sm-offset-1 col-sm-6">
						<div class="product_box">
							<div class="title">
								<h2>{{product.name}}</h2>
								<span class="size">{{product.capacity}}</span>
							</div>
							<h3>{{product.discript}}</h3>
							<div class="price">{{product.price}}</div>
							<div class="count_box">
								<div class="sub" v-on:click="sub()" unselectable="on"></div>
								<input class="count" v-model="product.quantity" v-on:keyup="quantityLimit" type="text" maxlength="3">
								<div class="add" v-on:click="add()" unselectable="on"></div>
							</div>
							<a href="#">
								<div class="add_cart">
									放入購物袋
								</div>
							</a>
						</div>
						<div class="show_box">
							<!--選單-->
							<ul class="menu">
								<li class="item" v-bind:class="(p.eng_name == app_data.active_page)?'active':''" v-for="p in app_data.page_item" :data-id="p.eng_name" v-on:click="changepage">{{p.cht_name}}</li>
							</ul>
							<!--分頁-->
							<transition-group tag="div" name="pages-wrap-fade" class="page_wrap" mode="out-in">
								<div class="page_box application" key="application" v-show="app_data.active_page == 'application'">
									<div class="video_box">
										<div class="poster" v-bind:style="{ 'background-image': 'url('+ product.application.video.img +')' }" v-on:click="hide()">
											<div class="cover_icon">
												<div class="triangle"></div>
											</div>
										</div>
										<video preload="none" class="video_block" controls>
											<source v-bind:src="product.application.video.url" type="video/mp4">
										</video>
									</div>
									<ol class="guide">
										<li v-for="(g,id) in product.application.guide">{{id+1}}. {{g}}</li>
									</ol>
								</div>
								<div class="page_box ingredients" key="ingredients" v-show="app_data.active_page == 'ingredients'">
									{{product.ingredients.main}}
									<span>
										{{product.ingredients.sub}}
									</span>
								</div>
								<div class="page_box effect" key="effect" v-show="app_data.active_page == 'effect'">
									{{product.effect}}
								</div>
							</transition-group>
						</div>
					</div>
				</div>
			</div>
			<!--使用者推薦圖片-->
			<div class="container-fiuld photo">
				<div class="photo_block" v-for="u in product.user_comment">
					<div class="cover">
						<div class="name">
							{{u.name}}
						</div>
						<p class="comment">
							{{u.comment}}
						</p>
					</div>
					<img v-bind:src="u.img" alt="">
				</div>
			</div>
			
			<!--推介產品-->
			<div id="promot">
				<h2>其他可訂製的菁華液</h2>
				<div class="owl-promot owl-carousel owl-theme">
					<div v-for="p in promot_data.product" class="item_wrap">
						<img v-bind:src="p.image" alt="">
						<h4>{{p.name}}</h4>
						<div class="date">{{p.date.from}}～{{p.date.to}}</div>
						<a class="full_a" v-bind:href="p.url"></a>
					</div>
				</div>
			</div>
		</section>

		<footer></footer>

		<script src="js/products.js"></script>
		<script>
$.get("components/header.html", function(data, status){
	$('header').html(data);
});
$.get("components/footer.html", function(data, status){
	$('footer').html(data);
}); 
		</script>
	</body>
</html>