<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。">
		<meta name="author" content="LanVece">
		<meta name="og:description" content="我們手工摘採新鮮花朵，以低溫、小量生產，搭配獨特的蒸餾冷凝萃取技術，做出最新鮮與高活性的保養品，讓肌膚好吸收，並喚醒肌膚自我修復力。" />
		<meta property="og:title" content="【LanVece 新鮮保養】"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.lanvece.com"/>
		<meta property="og:image" content="http://www.lanvece.com/images/lanvece_small.png"/>
		<meta property="og:site_name" content="LanVece 最新鮮的保養品" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
navTextPrev = '<i class="fa fa-chevron-right" aria-hidden="true"></i> 上一個';
navTextNext = '下一個 <i class="fa fa-arrow-right" aria-hidden="true"></i>';
		</script>
		<script src="css/owlcarousel/owl.carousel.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/base.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="bookmark" href="images/favicon.ico"/>
		<link rel="stylesheet" href="css/product.css">
		<title>LanVece</title>
	</head>
	<body products>
		<header></header>
		<section id="products" class="content">
			<div class="container-fiuld">
				<div class="head_img" v-bind:style="'background-image: url('+products.img+')'">
					<div class="title">
						<h1>{{products.title}}</h1>
						<p>{{products.discript}}</p>
					</div>
				</div>
				<div class="intro_wrap">
					<div class="intro_box">
						<h2>{{products.intro.title}}</h2>
					</div>
					<div class="intro_box">
						<div class="intro_block" v-for="p in products.intro.item">
							<h3>{{p.name}}</h3>
							<p>{{p.content}}</p>
						</div>
					</div>
				</div>
				<div class="procedure_wrap">
					<div class="procedure_block" v-for="(p,id) in products.products_data">
						<h5>步驟 {{id+1}}</h5>
						<div class="procedure_box">
							<img v-bind:src="p.img" alt="">
							<h4>{{p.name}}</h4>
							<p class="price">{{p.price}}</p>
							<a v-bind:href="p.url" class="full_a"></a>
						</div>
					</div>
				</div>
				<div class="notice">
					<h6>{{products.notice[0]}}</h6>
					<p>{{products.notice[1]}}</p>
				</div>
				<div class="series">
					<h2>其他系列</h2>
					<ul class="owl-products owl-carousel owl-theme">
						<li v-for="s in series" class="intro_block">
							<div class="circle" v-bind:style="'background-color:'+s.color"></div>
							<img v-bind:src="s.img" alt="">
							<h3>{{s.name}}</h3>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<footer></footer>

		<script src="js/products.js"></script>
		<script>
$.get("components/header.html", function(data, status){
	$('header').html(data);
});
$.get("components/footer.html", function(data, status){
	$('footer').html(data);
});  
		</script>
	</body>
</html>